*
!.jupyter/custom/custom.js
!.config/dunst/dunstrc
!.notion/default-session--0/cfg_kludges.lua
!.notion/default-session--0/cra_bindings.lua
!.notion/default-session--0/cfg_notion.lua
!.notion/default-session--0/cfg_notioncore.lua
!.conkyrc
!.gitignore
!.xmodmap
!.xinitrc.common
!.xinitrc
!.xinitrc2
!.bashrc
!.bash_profile
!.mplayer
!.stalontrayrc
!.pylintrc
!.tmux.conf
!.vimrc
!.xbindkeysrc.scm
!.pylintrc
.httr-oauth
